click>=7.0,<9.0
click-help-colors>=0.9.1,<0.10
rich>=11.0,<14.0
Flask
psycopg2-binary
SQLAlchemy
Flask-SQLAlchemy
python-dotenv
Flask-Migrate
Flask-RESTful
pytest-cov
pytest-sugar
pytest
flask_bcrypt
PyJWT
celery
Redis
flask-cors
Flask-Seeder
flask_jwt_extended

